@model ReservationProject.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CUSTOMER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CUSTOMER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabCategory.TABCATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabCategory.TABCATEGORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKIN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKIN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESERVATION_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESERVATION_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKIN_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKIN_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADULTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADULTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KIDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KIDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECIAL_REQUEST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECIAL_REQUEST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_BILL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_BILL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WITH_PREORDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WITH_PREORDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_CONTACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_CONTACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_ADDRESS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RESERVATION_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
