@model ReservationProject.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.ADMIN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.ADMIN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_PICTURE)
        </dt>

        <dd>
           
                <img height="100px" width="100px" src="@Url.Content(Model.BLOG_PICTURE)" />
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BLOG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
