@model ReservationProject.Models.Availibility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Availibility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UNAVAILABLE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNAVAILABLE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNAVAILABLE_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNAVAILABLE_TIME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AVAILABLE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
