@model IEnumerable<ReservationProject.Models.StaffJob>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create","StaffJobs")" class="btn btn-dangerrr">Create</a>
</p>
<table class="table table-condensed table-striped table-responsive table-hover">
   <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STAFFJOB_NAME)
        </th>
        <th></th>
    </tr>
       </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STAFFJOB_NAME)
        </td>
        <td>
            <a class="btn btn-primary fa fa-edit" href="@Url.Action("Edit", "StaffJobs", new { id = item.STAFFJOB_ID })"></a> |
            <a class="btn btn-success fa fa-book" href="@Url.Action("Details", "StaffJobs", new { id = item.STAFFJOB_ID })"></a> |
            <a class="btn btn-danger fa fa-trash-o" href="@Url.Action("Delete", "StaffJobs", new { id = item.STAFFJOB_ID })"></a>


        </td>
    </tr>
}

</table>
