@model ReservationProject.Models.AssignRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.ADMIN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.ADMIN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleAdm.AD_ROLE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleAdm.AD_ROLE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ASSIGN_ROLE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
